version: "3.8"

services:
#  app:
#    build: .
#    depends_on:
#      - postgres
#    ports:
#      - "0.0.0.0:8000:8000"
#    env_file:
#      - .env

  postgres:
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./.databases/postgres:/var/lib/postgresql/data
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: "devdb"
      POSTGRES_USER: "pguser"
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      PGDATA: "/var/lib/postgresql/data/pgdata"
